@import url("@fontsource/prompt");

@import "variables.module";

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: $font-family;
  min-height: $min-height;
  max-width: $max-width;
  scroll-behavior: smooth;
  background-color: initial;
}

.page-container {
  min-height: calc($min-height - 139px - 56px);
}
